:root {
    --primary: #33694A;
    --surface2: rgba(51, 105, 74, 0.08);
    --surface5: #E1E7E1;
    --surface: #FDFCF9;
    --onsurface: #1A1C1A;
    --outline: #747873;
    --tertiary: #4B6269;
    --primary-container: #B6F0C8;
    --secondary-container: #D9E6DA;
    --tiempo: 200ms;
}

::selection {
    background-color: var(--primary);
    color: var(--surface);
}

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--primary);
}

* {
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background-color: var(--surface2);
}

main {
    margin: 10px;
}

nav {
    border-radius: 10px;
    border: 1px solid var(--outline);
    font-size: 120%;
    margin: 10px;
    color: #1A1C1A;
    background-color: var(--surface);
    padding: 7px;
    text-align: center;
}

nav a {
    margin-right: 10px;
    margin-left: 10px;
}

a {
    color: var(--onsurface);
    text-decoration: none;
}

.varel {
    border-radius: 10px;
    padding: 5px;
}

/* .varel:hover {
    background-color: var(--secondary-container);
} */

.Titulo {
    float: left;
}

a:hover {
    color: var(--primary);
}

header span {
    margin-left: 5px;
    margin-right: 5px;
}

.Perfil {
    float: right;
    font-size: 20pt;
}

.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form {
    padding: 30px;
    width: 360px;
    background-color: var(--surface5);
    border: 1px solid var(--outline);
    border-radius: 30px;
}

.form__div {
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form__input {
    font-size: 12pt;
    border-radius: 5px;
    border: 2px solid var(--outline);
    padding: 5px;
    background-color: var(--surface5);
    position: absolute;
    top: 0;
    left: 0;
    width: 93%;
    height: 50%;
    padding-left: 1rem;
    z-index: 1;
}

.form__input:focus {
    outline: none;
    border: 2px solid #33694A;
    transition: var(--tiempo);
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 0.25rem;
    font-size: 12pt;
    padding: 0.25rem;
    background-color: var(--surface5);
    transition: var(--tiempo);
    z-index: 2;
}

.form__input:focus+.form__label {
    top: -0.88rem;
    font-size: 10pt;
    color: var(--primary);
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
    top: -0.88rem;
    font-size: 10pt;
    color: var(--outline);
}

.form__input:not(:placeholder-shown).form__input:not(:focus)+.form__input {
    border: 2px solid #33694A;
    transition: var(--tiempo);
}

.btnPrimary {
    width: 100%;
    font-size: 12pt;
    font-weight: 900;
    background-color: var(--surface);
    color: var(--primary);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid var(--outline);
    margin-bottom: 1rem;
}

.btnPrimary:hover {
    border: 2px solid var(--primary);
    background-color: var(--primary-container);
}

.btnPrimary:focus {
    color: var(--surface5);
    border: 2px solid var(--primary);
    background-color: var(--primary);
}

.searchTxt {
    grid-area: titulo;
    font-size: 14pt;
}

.searchvar {
    grid-area: busqueda;
    display: grid;
    grid-template-columns: 80% 20%;
}

.simpleTextField {
    border-radius: 10px;
    padding-left: 1rem;
    padding: 5px;
    font-size: 12pt;
    border: 2px solid var(--outline);
    transition: var(--tiempo);
}

.BtnIcon {
    line-height: 50%;
    color: var(--outline);
    background-color: var(--surface5);
    border: 2px solid var(--outline);
    font-size: 20px;
    border-radius: 20px;
}

.BtnIcon:hover {
    color: var(--primary);
    background-color: var(--primary-container);
    border: 2px solid var(--primary);
}

.BtnIcon:active {
    outline: none;
    background-color: var(--primary);
    color: var(--secondary-container);
    border: 2px solid var(--primary);
}

.simpleTextField:focus {
    outline: none;
    border: 2px solid var(--primary);
    transition: var(--tiempo);
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: var(--surface5);
    border-radius: 20px;
    border: 1px solid var(--outline);
    text-align: center;
}

.imgAuto {
    border-radius: 20px;
    width: 90%;
    padding: 10px;
}

.tercios{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 0.5fr 7fr;
    grid-template-areas:
        "titulo titulo busqueda"
        "conten1 conten2 conten3"
}

.p-card{
    background-color: var(--surface5);
    padding: 20px;
    border-radius: 30px;
    border: 1px solid var(--outline);
}

.MyCarCard{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas:
        "conten conten button1"
        "conten conten button2"
}

.MyCarData{
    grid-area: conten;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--surface5);
    border: 1px solid var(--outline);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 150px;
    grid-template-areas:
        "img text text"
}

.MyCarTexto{
    grid-area: text;
    width: 100%;
}

.imgMiAuto {
    grid-area: img;
    border-radius: 20px;
    width: 140px;
}

.btn1{
    grid-area: button1;
}

.btn2{
    grid-area: button2;
}

.BtnPrimaryCont {
    width: 100%;
    height: 68%;
    font-size: 12pt;
    font-weight: 900;
    border: 1px solid var(--outline);
    background-color: var(--primary-container);
    color: var(--onsurface);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.BtnPrimaryCont:hover {
    background-color: var(--primary);
}

.BtnPrimaryCont:focus {
    color: var(--surface5);
    background-color: var(--tertiary);
}